*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.border{
    border: 1px solid black;
}

#container{
    /* background-color: blueviolet; */
    background-image: url("/assets/images/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.wrapper{
    /* background-color: aliceblue; */
    height: calc(100vh - 150px);
    width: 70%;
}


#upper-section{
    background-color: rgb(164, 145, 239);
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

#upper-section a{
    background-color: rgb(2, 63, 80);
    color: white;
    padding: 4px;
    margin: 4px;
    width: 35%;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid  rgb(2, 63, 80);
    font-size: 2.2em;
}

#upper-section a:hover{
    /* background-color: white; */
    /* color:  rgb(2, 63, 80); */
    /* transform: scaleX(-1);
    transition:4s; */

    transform: rotateY(360deg);
    transition: 2s;
}


#lower-section{
    background-color: #cfc6f4;
    background-color: white;
    height: calc(100vh - 200px);
    display: flex;
    box-shadow: 0 0 10px 1px black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#left{
    width: 30%;
    border-right: 2px solid rgb(2, 63, 80);
    background-color: rgb(206, 212, 214);
}

#right{
    width: 70%;
}


#left img{
    width: 70%;
    border-radius: 200px;
    margin-top: 100px;
    /* margin-bottom: 40px; */
}

.user-name{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-shadow: 0 0 10px white;
    margin-bottom: 20px;
}

.phone{
    font-size: 20px;
    margin-bottom: 20px;
}
.phone span{
    font-size: 28px;
    font-weight: bold;
}

#info p{
    font-size: 20px;
    margin-bottom: 20px;
}

#info button{
    padding: 15px;
    font-size: 1.7em;
    border-radius: 10px;
    border: 2px solid rgb(8, 102, 36);
    background-color: rgb(47, 165, 83);
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}


#info button:hover{
    transform: scale(.8);
    transition: 2s;
}

.icons{
    display: flex;
    justify-content: space-around;
    font-size: 2em;
}

#right{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#main > p {
    font-size: 3em;
    font-weight: 700;
    text-decoration: underline;    
}

#main > span {
    font-size: 1.5em;
    font-weight: 400;
}


#info,#details{
    text-align: left;
    padding-left: 20px;
}
#info{
    float: left;
    width: 65%;
}
#details{
    float: right;
    width: 35%;
}

.clear{
    content: "";
    clear: both;
}


#details span{
    font-weight: bold;
    color: blue;
}

.separtator{
    margin: 10px 50px 30px 20px;
    border: 5px solid green;
    border-radius: 5px;
}

#experiences{
    column-count: 2;
}


#main3{
    width: 100%;    
}

#main3 iframe{
    width: 100%;
    padding: 100px 20px;
}


@media screen and (max-width: 1000px) {
    #lower-section #right{
        /* background-color: red; */
    }
    #lower-section #right #main p{
        font-size: 2em;
    }
}

@media screen and (max-width: 850px) {
    #lower-section{
        display: block;
    }
    #lower-section #left, #lower-section #right{
        width: 100%;
    } 
}